<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu Home</title>
    <link rel="stylesheet" href="app.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <!--  <link rel="stylesheet" href="dist/font-awesome/css/all.css">-->


</head>
<body>
    <!--wrapper start-->
    <div class="wrapper">

        <!--sidebar start-->
        <div class="sidebar">
            <div class="sidebar-menu">
                <div class="profile">
                    <img src="https://github.com/mhmiyazi/AwesomeMenu/blob/main/dist/img/1.jpg?raw=true" alt=""><p>Fast-Food</p>
                </div>
                <li class="item">
                    <a href="app.component.html" class="menu-btn"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
                </li>
                <li class="item" id="profile">
                    <a href="#profile" class="menu-btn">
                        <i class="fas fa-user-circle"></i><span>Login <i class="fas fa-chevron-down drop-down"></i></span>
                    </a>
                    <div class="sub-menu">
                        <a href="login/login.html"><i class="fas fa-sign-in-alt"></i><span>Sign In</span></a>
                        <a href="#"><i class="fas fa-user-circle"></i><span>Sign Up</span></a>
                    </div>
                </li>
                <li class="item" id="messege">
                    <a href="#messege" class="menu-btn">
                        <i class="fas fa-box"></i><span>Menu <i class="fas fa-chevron-down drop-down"></i></span>
                    </a>
                    <div class="sub-menu">
                        <a href="#"><i class="fas fa-cookie"></i><span>Food</span></a>
                       <!-- <a href="#"><i class="fas fa-envelope-square"></i><span>Recipe</span></a> -->
                       <!-- <a href="#"><i class="fas fa-exclamation-circle"></i><span>Add New Recipe</span></a> -->
                    </div>
                </li>
                <li class="item" id="setting">
                    <a href="#setting" class="menu-btn">
                        <i class="fas fa-cart-plus"></i><span>Cart <i class="fas fa-chevron-down drop-down"></i></span>
                    </a>
                    <div class="sub-menu">
                        <a href="#"><i class="fas fa-list-alt"></i><span>Cart List</span></a>
                        <a href="#"><i class="fas fa-receipt"></i><span>Recipe</span></a>
                    </div>
                </li>
                <li class="item">
                    <a href="" class="menu-btn"><i class="fas fa-info-circle"></i><span>Shared</span></a>
                </li>
            </div>
        </div>
        <!--sidebar end-->
                <!--header menu start-->
        <div class="header">
            <div class="header-menu">
                <div class="title"><span class="title-hide">Restaurant<span class="sec-span"> Fast-Food</span></span></div>
                <div class="sidebar-btn">
                    <i class="fas fa-bars"></i>
                </div>
             <!--   <ul>
                    <li><a href=""><i class="fas fa-search"></i></a></li>
                    <li><a href=""><i class="fas fa-bell"></i></a></li>
                    <li><a href=""><i class="fas fa-power-off"></i></a></li>
                </ul> -->
            </div>
        </div>
        <!--header menu end-->
        <!--main container start-->
        <div class="main-container"></div>
        <!--main container end-->
    </div>
    <!--wrapper end-->

</body>
</html>
